SMTP_USER=smartguardverify@gmail.com
SMTP_APP_PASSWORD=zvze glpq ubrg rvmd
OTP_HASH_SECRET=8f7b5ab0fe906a08b867f0497437d817e3c5c8ebf1fd549786cd5878349f8b8c
GOOGLE_APPLICATION_CREDENTIALS=/etc/secrets/firebase-service-account.json
